<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated request_model -->
      <package
            uri="http:///request_model.ecore"
            class="tesis.request_model.RequestModel.RequestModelPackage"
            genModel="ecore_models/request/request_model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WSDL -->
      <package
            uri="http://www.eclipse.org/wsdl/2003/WSDL"
            class="tesis.wsdl_ecore.wsdl.WsdlPackage"
            genModel="ecore_models/wsdl/WSDL.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WSDL -->
      <package
            uri="http://www.eclipse.org/xsd/2002/XSD"
            class="tesis.xsd_ecore.xsd.XsdPackage"
            genModel="ecore_models/wsdl/WSDL.genmodel"/>
   </extension>
</plugin>
